<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header') -%>
<body>

<%- include('layouts/nav') -%>

<div>
    <div class="container space">
        <h1 class="display-4">Our Web Catalog</h1>
        <p class="lead mb-4">
            We have made a few templates for those need right now situations. If you
            want a specific design that you don't see, contact us with an example of one.
        </p>
        <div id="my-store-49063210"></div>
        <div>
            <script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?49063210&data_platform=code&data_date=2022-03-19" charset="utf-8"></script><script type="text/javascript"> xProductBrowser("categoriesPerRow=3","views=grid(20,3) list(60) table(60)","categoryView=grid","searchView=list","id=my-store-49063210");</script>
        </div>
    </div>
</div>

<%- include('layouts/footer') -%>
<%- include('layouts/scripts') -%>

</body>
</html>
