<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header') -%>
<body class="bg-layout">

<%- include('layouts/nav') -%>

<div class="home-intro">
    <div class="container space">
        <h1 class="display-4 mt-5 mb-5">PAGE NOT FOUND</h1>
    </div>
</div>

<%- include('layouts/footer') -%>
<%- include('layouts/scripts') -%>

</body>
</html>
